body {
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

div#gallery {
  padding: 0.5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

div#gallery > div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 250px;
  margin: 0.5vw;
}

div#gallery > div img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 400px) {
}

/* desktop */
@media screen and (min-width: 1000px) {
  div#gallery > div {
    width: 500px;
  }
}

footer {
  height: 50px;
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: #393838;
  opacity: 0.5;
  color: antiquewhite;
  font-size: xx-large;
  text-align: center;
}

footer > div#count_picture,
footer > div#count_user {
  width: 50%;
  float: left;
  height: 100%;
}

footer i.fas {
  margin: 0 0.5em;
}

span#nb_user,
span#nb_picture {
  margin: 0 1em;
}

label {
  font-weight: normal;
}

.center {
  text-align: center;
}
/* Custom color */
/* SUCCESS button*/
.button-success {
  background-color: rgb(28, 184, 65);
  border-color: rgb(28, 184, 65);
}
.button-success.button-clear,
.button-success.button-outline {
  background-color: transparent;
  color: rgb(28, 184, 65);
}
.button-warning.button-clear {
  border-color: transparent;
}
/* WARNING button*/
.button-warning {
  background-color: rgb(223, 117, 20);
  border-color: rgb(223, 117, 20);
}
.button-warning.button-clear,
.button-warning.button-outline {
  background-color: transparent;
  color: rgb(223, 117, 20);
}
.button-warning.button-clear {
  border-color: transparent;
}
/* ERROR button*/
.button-error {
  background-color: rgb(202, 60, 60);
  border-color: rgb(202, 60, 60);
}
.button-error.button-clear,
.button-error.button-outline {
  background-color: transparent;
  color: rgb(202, 60, 60);
}
.button-error.button-clear {
  border-color: transparent;
}

.button-100 {
  width: 100%;
}
