doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="/stylesheets/normalize.css")
    link(rel="stylesheet", href="/stylesheets/milligram.min.css")
    link(rel='stylesheet', href='/stylesheets/fontawesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
