doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    link(rel="stylesheet", href="/stylesheets/normalize.css")
    link(rel="stylesheet", href="/stylesheets/milligram.min.css")
    link(rel='stylesheet', href='/stylesheets/fontawesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body
    script(src="/socket.io/socket.io.js")
    block content

    footer#footer
      .row
        #count_picture.column.column-50.float-left
          i(class="fas fa-camera")
          span#nb_picture
        #count_user.column.column-50.float-left
          i(class="fas fa-users")
          span#nb_user
