extends ../layout/default

block content
  link(rel='stylesheet', href='/stylesheets/style.css')

  #gallery
    each photo in photos
      div(id=`${photo.name}`)
        a(href=photo.src)
          img(src=photo.thumbnail)
  
  a(href="/admin") admin

  script(src='/javascripts/gallery.js')