extends ../layout/admin

block content
  .container
    .row.center
      .column
        a(href="/admin") Retour

    form(action="/admin/config/update", method="post")
      each section in Object.keys(config)
        fieldset
          .row
            .column.column-100
              h2= section

          each setting in Object.keys(config[section])
            .row
              .column.column-25
                label(for=setting)
                  =setting
              .column.column-75
                input(type="text", id=setting, name=`${section}.${setting}`, placeholder=setting, value=config[section][setting])

      .row.center
        .column
          button(type="submit", class="button button-success button-outline button-100") Mettre à jour
        .column
          a(href="/admin", class="button button-warning button-outline button-100") Annuler
