extends ../layout/admin

block content
  .container.center
    .row
      .column
        h2=title

    .row
      .column
        form(action="/admin/kill-omxplayer", method="post")
          button(type="submit", class="button button-warning button-outline button-100") Kill omxplayer

    .row
      .column
        form(action="/admin/reboot", method="post")
          button(type="submit", class="button button-success button-outline button-100") Reboot

    .row
      .column
        form(action="/admin/shutdown", method="post")
          button(type="submit", class="button button-error button-outline button-100") Shutdown

    .row
      .column
        a(href="/admin/config", class="button button-outline button-100") Modifier la configurartion

    .row
      .column
        a(href="/") Retour

